{% extends "base.html" %}

{% block content %}
<style>
    /* Основной контейнер */
    #main-container {
        margin-left: 20%; /* Отступ слева для основного контента */
        padding-top: 20px;
    }

    /* Прямоугольник с текстом */
    #main-content {
        border: 1px solid black; /* Рамка вокруг текста */
        padding: 20px;
        width: 60%; /* Ширина прямоугольника с текстом */
    }

    /* Заголовок страницы */
    .centered-heading {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
    }

</style>

<!-- Заголовок страницы -->
<h2 class="centered-heading">Об авторе</h2>

<!-- Основной контейнер -->
<div id="main-container">
    <!-- Прямоугольник с текстом -->
    <div id="main-content">
        <p>{{ about_us }}</p>
    </div>
</div>

{% endblock %}
