{% extends "base.html" %}

{% block content %}
<style>
    #main-container {
        margin-left: 20%;
        padding-top: 20px;
    }

    #main-content {
        border: 1px solid black;
        padding: 20px;
        width: 60%;
    }

    /* Заголовок страницы */
    .centered-heading {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
    }

</style>

<h2 class="centered-heading">Об авторе</h2>

<div id="main-container">
    <div id="main-content">
        <p>{{ about_us }}</p>
    </div>
</div>

{% endblock %}
