{% extends "base.html" %}

{% block content %}
<style>
    #main-content {
        flex: 1;
        padding: 10px;
        margin-left: 15%;
        margin-right: 25%;
        text-align: left;
    }

    #header {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
    }

    .post-content {
        margin-top: 50px;
    }

    .centered-heading {
        text-align: center;
    }

    .main-post-container {
        width: 100%;
        min-height: 100px; /* Минимальная высота */
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        padding: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .post-text {
        font-size: 18px;
        color: #495057;
        text-align: left;
        padding: 0;
        margin: 0;
    }
</style>

<div id="header">Главное меню</div>

<div id="main-content">
    <div class="post-content">
        <h3>Посты</h3>
        <div class="main-post-container">
            <div class="post-text">текст</div>
        </div>
    </div>
</div>

{% endblock %}
